body{
    text-align: center;
}

h1{
    font-family: 'Tillana', 'Sans';
}

.square{
    width: 100px;
    height: 100px;
    background-color: pink ;
    border: 1px solid gainsboro;
    display: inline-block;
}

.o{
    position: relative;
}
.o:after{
    position: absolute;
    content: "\2764";
    font: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}
.x:after{
    position: absolute;
    content: "\1F480";
    font: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.btn{
    padding-top: 25px;
   
}